<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeoSearch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GeoSearch.styles.css" asp-append-version="true" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<body>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <span
              class="iconify"
              data-icon="ant-design:home-outlined"
              data-inline="false"
            ></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Place" asp-action="FavoritePlace">
            <span
              class="iconify"
              data-icon="clarity:favorite-line"
              data-inline="false"
            ></span>
          </a>
        </li>
        <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <span
              class="iconify"
              data-icon="eva:search-outline"
              data-inline="false"
            ></span>
          </a>
        </li>
      </ul>
    </nav>
    <main class="main">
        @RenderBody()
    </main>
  </body>
</html>
