@model GeoSearch.Data.FavoritePlace;

@{
    ViewBag.Title = "Place Details";
    var placeId = ViewBag.PlaceId as string;
    var placeDetails = ViewBag.PlaceDetails as FoursquarePlaceDetailsModel;
    var placeTips = ViewBag.PlaceTips as FoursquarePlaceTipsModel;
    var placeImages = ViewBag.PlaceImages as FoursquarePlaceImagesModel;
}

<div class="main-container">
    <div class="grid-wrapper">
        
        @Html.Partial("_PlaceDetails", placeDetails)
        @Html.Partial("_PlaceTips", placeTips)
        @Html.Partial("_PlaceImages", placeImages)
    </div>
</div> 
